@reset-global pc;

body {
    padding: 36px;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

p {
    margin-bottom: 6px;
}

button {
    padding: 4px 12px;
    margin: 0 12px 24px 0;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #000;

    &:focus {
        outline: 0;
    }
}
